Azure/covid/pipelines/pipeline/pl_ingest_ecdc_git_adl_copy1.json
{
	"name": "pl_ingest_ecdc_git_adl_copy1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Url').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "relativeURL",
								"value": {
									"value": "@item().sourceRelativeURL",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup Url",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:02:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ecdc_url_blob",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"relativeURL": {
				"type": "String"
			}
		},
		"annotations": []
	}
}