Azure/taxi/pipeline/pl_create_nyc_tables.json
{
	"name": "pl_create_nyc_tables",
	"properties": {
		"activities": [
			{
				"name": "Delete Silver Taxi Zone Folder",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_taxi_folder_path",
						"type": "DatasetReference",
						"parameters": {
							"p_folder_path": {
								"value": "@variables('v_folder_path')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Create Silver Taxi Zone Folder",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Silver Taxi Zone Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@variables('v_usp_name')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_serverless_sqlpool",
					"type": "LinkedServiceReference",
					"parameters": {
						"AzureSQLDb": {
							"value": "@variables('v_SQL_DB')",
							"type": "Expression"
						},
						"DB_Name": {
							"value": "@variables('v_DB_Name')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"v_folder_path": {
				"type": "String",
				"defaultValue": "silver/taxi_zone"
			},
			"v_usp_name": {
				"type": "String",
				"defaultValue": "silver.usp_silver_taxi_zone"
			},
			"v_SQL_DB": {
				"type": "String",
				"defaultValue": "ws-synapse23-ondemand.sql.azuresynapse.net,1433"
			},
			"v_DB_Name": {
				"type": "String",
				"defaultValue": "nyc_taxi_ldw"
			}
		},
		"annotations": []
	}
}