Azure/taxi/pipeline/pl_create_nyc_tables.json
{
	"name": "pl_create_nyc_tables",
	"properties": {
		"activities": [
			{
				"name": "ForEach Folder Path",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_folder_path_usp_name')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Delete Silver Tables",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_taxi_folder_path",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "@item().folder_path",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Create Silver Tables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete Silver Tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().usp_name",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sqlpool",
								"type": "LinkedServiceReference",
								"parameters": {
									"AzureSQLDb": {
										"value": "@variables('v_SQL_DB')",
										"type": "Expression"
									},
									"DB_Name": {
										"value": "@variables('v_DB_Name')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_SQL_DB": {
				"type": "String",
				"defaultValue": "ws-synapse23-ondemand.sql.azuresynapse.net,1433"
			},
			"v_DB_Name": {
				"type": "String",
				"defaultValue": "nyc_taxi_ldw"
			},
			"v_folder_path_usp_name": {
				"type": "Array",
				"defaultValue": [
					{
						"folder_path": "silver/calendar",
						"usp_name": "silver.usp_silver_calendar"
					},
					{
						"folder_path": "silver/taxi_zone",
						"usp_name": "silver.usp_silver_taxi_zone"
					},
					{
						"folder_path": "silver/trip_type",
						"usp_name": "silver.usp_silver_trip_type"
					},
					{
						"folder_path": "silver/vendor",
						"usp_name": "silver.usp_silver_vendor"
					},
					{
						"folder_path": "silver/rate_code",
						"usp_name": "silver.usp_silver_rate_code"
					},
					{
						"folder_path": "silver/payment_type",
						"usp_name": "silver.usp_silver_payment_type"
					}
				]
			}
		},
		"annotations": []
	}
}